<div>
  <label>
    Username
    <input type="text" [formControl]="username">
  </label>
</div>
<br/>

<div>
  <label>
    Email
    <input type="email" [formControl]="email">
  </label>
</div>
<br/>

<div>
  <label>
    Password
    <input type="password" [formControl]="pwd">
  </label>
</div>
<br/>

<div>
  <label>
    Address
    <input type="text" [formControl]="street" placeholder="street">
    <input type="text" [formControl]="zipCode" placeholder="zip code">
    <input type="text" [formControl]="city" placeholder="city">
  </label>
</div>
<br/>


<div>
  <button type="submit" (click)="onSubmit()">
    Submit
  </button>
</div>

<br/>
<br/>
<br/>
<div *ngIf="user != null">
  <ul>
    <li>{{ user.username }}</li>
    <li>{{ user.email }}</li>
    <li>{{ user.password }}</li>
    <li>{{ user.address.street }}</li>
    <li>{{ user.address.zipCode }}</li>
    <li>{{ user.address.city }}</li>
  </ul>
</div>
